.collage-create {
  margin-bottom: 10px;
  margin-top: 10px;

  input {
    min-width: 10%;
  }
}


.btn-success {
    color: #000;
    background-color: #efae12;
    border-color: #ffa200;
}

.btn-success:hover{
    color: #060606;
    background-color: #ce9409;
    border-color: #CB6E05;
}
.collage-item {
  margin-top: 10px;
  height: 200px;
}

.upload-canvas {
  max-height: 90%;
  max-width: 90%;
  min-width: 0;
  overflow: scroll;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: fixed;
    display: none;
    top: 60px;
    right: 39.7%;
    margin-left: 50px;
    background-color: #111;
    border-color: #111;

    &:focus{
      background-color: #111;
      border-color: #111;
    }

    &:hover{
      background-color: rgba(#111111, 0.8);
      border-color: rgba(#111111, 0.8);
    }
}
.gallery-btn{
  position: absolute;
  top: 60px;
  right: 25px;
}

.settings-btn{
  position: absolute;
  top: 100px;
  right: 25px;
}

.sidenav .settings-closebtn{
  position: fixed;
  display: none;
  top: 100px;
  right: 19.7%;
  margin-left: 50px;
  background-color: #111;
  border-color: #111;

  &:focus{
    background-color: #111;
    border-color: #111;
  }

  &:hover{
    background-color: rgba(#111111, 0.8);
    border-color: rgba(#111111, 0.8);
  }
}

@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}

.btn-filter{
  width: 38px;
  height: 38px;
  border-radius: 19px;
}
